<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>社員詳細</title>
  </head>
  <body>
    <h1>社員詳細</h1>

    <p>
      社員番号: {{employee.id}}<br>
      氏名: {{employee.name}}<br>
      給与: {{employee.salary}}<br>
      上司の社員番号: {{employee.manager_id}}
      <a href="{{url_for('employee', id=employee.manager_id)}}">
        詳細
      </a><br>
      生年: {{employee.birth_year}}年<br>
      入社年: {{employee.start_year}}年<br>
    </p>

    <p>
      <a href="{{url_for('employee_edit', id=employee.id)}}">編集</a><br>
      <a href="{{url_for('employee_del', id=employee.id)}}">削除</a>
    </p>

    <p>
      <a href="{{url_for('employees')}}">社員一覧</a><br>
      <a href="{{url_for('index')}}">入口のページ</a>
    </p>
  </body>
</html>
