<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>社員一覧</title>
  </head>
  <body>
    <h1>社員一覧</h1>

    <p>
      <form method="POST" action="{{url_for('employees_filtered')}}">
        氏名: <input type="text" name="name_filter"><br>
        <input type="submit" value="絞り込む"><br>
        （ワイルドカード文字として%が使えます）
      </form>
    </p>

    {% for employee in e_list %}
    <p>
      社員番号: {{employee.id}}<br>
      氏名: {{employee.name}}<br>
      <a href="{{url_for('employee', id=employee.id)}}">詳細</a>
    </p>
    {% endfor %}

    <p>
      <a href="{{url_for('index')}}">入口のページ</a>
    </p>
  </body>
</html>
